/.vs/
/Debug/
/HookExample/Debug/
/HookPerformer/Debug/
/HookPerformer/HookPerformer.vcxproj.user
/HookPerformer/x64/
/RadoHook/.vs/
/RadoHook/Debug/
/RadoHook/RadoHook.vcxproj.user
/RadoHook/x64/
/RadoHookDll/Debug/
/RadoHookDll/RadoHookDll.vcxproj.user
/RadoHookLib/Debug/
/SpyCreateWindow/Debug/
/SpyCreateWindow/SpyCreateWindow.vcxproj.user
/SpyCreateWindow/x64/
/Sandbox/x64/
/x64/
/Sandbox/Sandbox.vcxproj.user
