# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/RadoHook.exp
/Debug/RadoHook.ilk
/Debug/RadoHook.pdb
/Debug/SimplePrintMessage.ilk
/Debug/SimplePrintMessage.pdb
/HookExample/Debug/SimplePr.83A29358.tlog/CL.command.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/CL.read.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/CL.write.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/link.command.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/link.read.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/link.write.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/SimplePrintMessage.lastbuildstate
/HookExample/Debug/SimplePrintMessage.Build.CppClean.log
/HookExample/Debug/SimplePrintMessage.log
/HookExample/Debug/vc141.idb
/HookExample/Debug/vc141.pdb
/RadoHook/.vs/HookService/v15/Browse.VC.db
/RadoHook/.vs/RadoHook/v15/.suo
/RadoHook/.vs/RadoHook/v15/Browse.VC.db
/RadoHook/.vs/RadoHook/v15/ipch/4a4fdb04c6bccb56.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/5881f4a1ad13588c/DLLMAIN.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/649a289503d18a85/HOOKENGINE.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/69b32b52bc295766/HOOKENGINE.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/c8014848de52bf35/HOOKSERVICE.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/e5ce5f0418531450/SIMPLEPRINTMESSAGE.ipch
/RadoHook/.vs/RadoHook/v15/Solution.VC.db
/RadoHook/Debug/RadoHook.Build.CppClean.log
/RadoHook/Debug/RadoHook.log
/RadoHook/Debug/RadoHook.tlog/CL.command.1.tlog
/RadoHook/Debug/RadoHook.tlog/CL.read.1.tlog
/RadoHook/Debug/RadoHook.tlog/CL.write.1.tlog
/RadoHook/Debug/RadoHook.tlog/link.command.1.tlog
/RadoHook/Debug/RadoHook.tlog/link.read.1.tlog
/RadoHook/Debug/RadoHook.tlog/link.write.1.tlog
/RadoHook/Debug/RadoHook.tlog/RadoHook.lastbuildstate
/RadoHook/Debug/RadoHook.tlog/RadoHook.write.1u.tlog
/RadoHook/Debug/vc141.idb
/RadoHook/Debug/vc141.pdb
