# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/RadoHook.exp
/Debug/RadoHook.ilk
/Debug/RadoHook.pdb
/Debug/SimplePrintMessage.ilk
/Debug/SimplePrintMessage.pdb
/HookExample/Debug/SimplePr.83A29358.tlog/CL.command.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/CL.read.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/CL.write.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/link.command.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/link.read.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/link.write.1.tlog
/HookExample/Debug/SimplePr.83A29358.tlog/SimplePrintMessage.lastbuildstate
/HookExample/Debug/SimplePrintMessage.Build.CppClean.log
/HookExample/Debug/SimplePrintMessage.log
/HookExample/Debug/vc141.idb
/HookExample/Debug/vc141.pdb
/RadoHook/.vs/HookService/v15/Browse.VC.db
/RadoHook/.vs/RadoHook/v15/.suo
/RadoHook/.vs/RadoHook/v15/Browse.VC.db
/RadoHook/.vs/RadoHook/v15/ipch/4a4fdb04c6bccb56.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/5881f4a1ad13588c/DLLMAIN.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/649a289503d18a85/HOOKENGINE.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/69b32b52bc295766/HOOKENGINE.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/c8014848de52bf35/HOOKSERVICE.ipch
/RadoHook/.vs/RadoHook/v15/ipch/AutoPCH/e5ce5f0418531450/SIMPLEPRINTMESSAGE.ipch
/RadoHook/.vs/RadoHook/v15/Solution.VC.db
/RadoHook/Debug/RadoHook.Build.CppClean.log
/RadoHook/Debug/RadoHook.log
/RadoHook/Debug/RadoHook.tlog/CL.command.1.tlog
/RadoHook/Debug/RadoHook.tlog/CL.read.1.tlog
/RadoHook/Debug/RadoHook.tlog/CL.write.1.tlog
/RadoHook/Debug/RadoHook.tlog/link.command.1.tlog
/RadoHook/Debug/RadoHook.tlog/link.read.1.tlog
/RadoHook/Debug/RadoHook.tlog/link.write.1.tlog
/RadoHook/Debug/RadoHook.tlog/RadoHook.lastbuildstate
/RadoHook/Debug/RadoHook.tlog/RadoHook.write.1u.tlog
/RadoHook/Debug/vc141.idb
/RadoHook/Debug/vc141.pdb
/.vs/Hooks/v15/.suo
/.vs/Hooks/v15/Browse.VC.db
/.vs/Hooks/v15/Browse.VC.opendb
/.vs/Hooks/v15/ipch/57464045c0b873d7.ipch
/.vs/Hooks/v15/ipch/AutoPCH/184bf14fd74f4678/HOOKENGINE.ipch
/.vs/Hooks/v15/ipch/AutoPCH/1eb2ec55db8ac58e/HOOKENGINE.ipch
/.vs/Hooks/v15/ipch/AutoPCH/3147195cf61499b0/SIMPLEPRINTMESSAGE.ipch
/.vs/Hooks/v15/ipch/AutoPCH/3efe9287f5353b3d/HOOKENGINE.ipch
/.vs/Hooks/v15/ipch/AutoPCH/74393270171a3949/HOOKENGINE.ipch
/.vs/Hooks/v15/ipch/AutoPCH/80b4d9d0cd80a73e/HOOKENGINE.ipch
/.vs/Hooks/v15/ipch/AutoPCH/8ee0834cebeb0534/DLLMAIN.ipch
/.vs/Hooks/v15/Solution.VC.db
/.vs/Hooks/v15/Solution.VC.db-shm
/.vs/Hooks/v15/Solution.VC.db-wal
/Debug/RadoHookDll.exp
/Debug/RadoHookDll.ilk
/Debug/RadoHookDll.pdb
/Debug/RadoHookLib.pdb
/RadoHookDll/Debug/RadoHookDll.log
/RadoHookDll/Debug/RadoHookDll.tlog/CL.command.1.tlog
/RadoHookDll/Debug/RadoHookDll.tlog/CL.read.1.tlog
/RadoHookDll/Debug/RadoHookDll.tlog/CL.write.1.tlog
/RadoHookDll/Debug/RadoHookDll.tlog/link.command.1.tlog
/RadoHookDll/Debug/RadoHookDll.tlog/link.read.1.tlog
/RadoHookDll/Debug/RadoHookDll.tlog/link.write.1.tlog
/RadoHookDll/Debug/RadoHookDll.tlog/RadoHookDll.lastbuildstate
/RadoHookDll/Debug/RadoHookDll.tlog/RadoHookDll.write.1u.tlog
/RadoHookDll/Debug/vc141.idb
/RadoHookDll/Debug/vc141.pdb
/RadoHookDll/RadoHookDll.vcxproj.user
/RadoHookLib/Debug/RadoHookLib.idb
/RadoHookLib/Debug/RadoHookLib.log
/RadoHookLib/Debug/RadoHookLib.pdb
/RadoHookLib/Debug/RadoHookLib.tlog/CL.command.1.tlog
/RadoHookLib/Debug/RadoHookLib.tlog/CL.read.1.tlog
/RadoHookLib/Debug/RadoHookLib.tlog/CL.write.1.tlog
/RadoHookLib/Debug/RadoHookLib.tlog/Lib.command.1.tlog
/RadoHookLib/Debug/RadoHookLib.tlog/Lib-link.read.1.tlog
/RadoHookLib/Debug/RadoHookLib.tlog/Lib-link.write.1.tlog
/RadoHookLib/Debug/RadoHookLib.tlog/RadoHookLib.lastbuildstate
/RadoHookLib/RadoHookLib.vcxproj.user
/SpyCreateWindow/x64/Debug/vc141.idb
/SpyCreateWindow/x64/Debug/vc141.pdb
/x64/Debug/HookPerformer.ilk
/x64/Debug/HookPerformer.pdb
/x64/Debug/reports/apiCallsReport.txt
/x64/Debug/reports/logOutput.txt
/x64/Debug/SpyCreateWindow.ilk
/SpyCreateWindow/x64/Debug/SpyCreateWindow.log
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/CL.command.1.tlog
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/CL.read.1.tlog
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/CL.write.1.tlog
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/link.command.1.tlog
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/link.read.1.tlog
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/link.write.1.tlog
/SpyCreateWindow/x64/Debug/SpyCreateWindow.tlog/SpyCreateWindow.lastbuildstate
/x64/Debug/SpyCreateWindow.pdb
/HookPerformer/x64/Debug/vc141.idb
/HookPerformer/x64/Debug/vc141.pdb
/RadoHook/Debug/RadoHook.idb
/RadoHook/Debug/RadoHook.pdb
/RadoHook/Debug/RadoHook.tlog/Lib.command.1.tlog
/RadoHook/Debug/RadoHook.tlog/Lib-link.read.1.tlog
/RadoHook/Debug/RadoHook.tlog/Lib-link.write.1.tlog
/RadoHook/x64/Debug/RadoHook.idb
/RadoHook/x64/Debug/RadoHook.log
/RadoHook/x64/Debug/RadoHook.pdb
/RadoHook/x64/Debug/RadoHook.tlog/CL.command.1.tlog
/RadoHook/x64/Debug/RadoHook.tlog/CL.read.1.tlog
/RadoHook/x64/Debug/RadoHook.tlog/CL.write.1.tlog
/RadoHook/x64/Debug/RadoHook.tlog/Lib.command.1.tlog
/RadoHook/x64/Debug/RadoHook.tlog/Lib-link.read.1.tlog
/RadoHook/x64/Debug/RadoHook.tlog/Lib-link.write.1.tlog
/RadoHook/x64/Debug/RadoHook.tlog/RadoHook.lastbuildstate
/SpyCreateWindow/Debug/SpyCreateWindow.log
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/CL.command.1.tlog
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/CL.read.1.tlog
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/CL.write.1.tlog
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/link.command.1.tlog
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/link.read.1.tlog
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/link.write.1.tlog
/SpyCreateWindow/Debug/SpyCreateWindow.tlog/SpyCreateWindow.lastbuildstate
/SpyCreateWindow/Debug/vc141.idb
/SpyCreateWindow/Debug/vc141.pdb
/SpyCreateWindow/reportslogOutput.txt
/HookPerformer/x64/Debug/HookPerformer.tlog/CL.command.1.tlog
/HookPerformer/x64/Debug/HookPerformer.tlog/CL.read.1.tlog
/HookPerformer/x64/Debug/HookPerformer.tlog/CL.write.1.tlog
/HookPerformer/x64/Debug/HookPerformer.tlog/HookPerformer.lastbuildstate
/HookPerformer/x64/Debug/HookPerformer.tlog/link.command.1.tlog
/HookPerformer/x64/Debug/HookPerformer.tlog/link.read.1.tlog
/HookPerformer/x64/Debug/HookPerformer.tlog/link.write.1.tlog
/SpyCreateWindow/SpyCreateWindow.vcxproj.user
/HookPerformer/Debug/HookPerformer.log
/HookPerformer/Debug/HookPerformer.tlog/CL.command.1.tlog
/HookPerformer/Debug/HookPerformer.tlog/CL.read.1.tlog
/HookPerformer/Debug/HookPerformer.tlog/CL.write.1.tlog
/HookPerformer/Debug/HookPerformer.tlog/HookPerformer.lastbuildstate
/HookPerformer/Debug/HookPerformer.tlog/link.command.1.tlog
/HookPerformer/Debug/HookPerformer.tlog/link.read.1.tlog
/HookPerformer/Debug/HookPerformer.tlog/link.write.1.tlog
/HookPerformer/Debug/vc141.idb
/HookPerformer/Debug/vc141.pdb
/HookPerformer/HookPerformer.vcxproj.user
/HookPerformer/x64/Debug/HookPerformer.log
/RadoHook/RadoHook.vcxproj.user
/.vs/Hooks/v15/ipch/AutoPCH/3d11c789f68ccf09/APICALLANALYSIS.ipch
/.vs/Hooks/v15/ipch/AutoPCH/5b1d367ae48e105a/APICALLANALYSIS.ipch
/.vs/Hooks/v15/ipch/AutoPCH/5ef5dd1ab9134492/DLLMAIN.ipch
/.vs/Hooks/v15/ipch/AutoPCH/7f3ce9b0d05cf641/DLLMAIN.ipch
/.vs/Hooks/v15/ipch/AutoPCH/872d44c8447e56d8/HOOKPERFORMER.ipch
/.vs/Hooks/v15/ipch/AutoPCH/8acf27839843af8/SPYCREATEWINDOW.ipch
/.vs/Hooks/v15/ipch/AutoPCH/a3ece3078841bb1b/HOOKPERFORMER.ipch
/.vs/Hooks/v15/ipch/AutoPCH/fbbb4ae69d2cc8bb/SPYCREATEWINDOW.ipch
/.vs/Hooks/v15/ipch/AutoPCH/fc1389d1f21d7fb8/LOGHELPER.ipch
/Debug/HookPerformer.ilk
/Debug/HookPerformer.pdb
/Debug/reports/apiCallsReport.txt
/Debug/reports/logOutput.txt
/Debug/SpyCreateWindow.ilk
/Debug/SpyCreateWindow.pdb
